* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;

}

/* Header part Styling */

.banner-container {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 100%;
    background: rgba(229, 84, 115, 0.10);
    padding-left: 150px;
    padding-top: 50px;

}


.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 700;
    line-height: normal;
    padding-top: 50px;

}

.banner-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 30px 30px 0px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 21px 40px;
    border-radius: 8px;
    border: none;
    background: #E55473;

}

.banner-image {

    margin-bottom: -3px;
}

/* Body part starts from here */


.featured-flower {
    text-align: center;
    margin-top: 170px;
    padding-bottom: 50px;
}

.common-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}


.common-para {
    padding: 20px 0px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

main {
    max-width: 1920px;
}

/* three blocks of flowers style  */

.three-block {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 150px;

}


.pink {
    background-color: rgba(167, 33, 98, 0.15);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 400px;
    height: 470px;
    background-repeat: no-repeat;
    background-position: center;
}

.pink-flower {
    padding-top: 120px;
    padding-left: 70px;
    height: 350px;
    width: auto;
    margin-bottom: 0px;
}

.pink-tag {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 30px;

}

.blue {
    background-color: rgba(5, 151, 160, 0.15);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 400px;
    height: 470px;
    background-repeat: no-repeat;
    background-position: center;

}

.blue-flower {
    padding-top: 100px;
    padding-left: 50px;
    height: 320px;
    width: auto;

}

.blue-tag {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 81px;

}

.green {
    background-color: rgba(71, 125, 17, 0.15);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 400px;
    height: 470px;
    background-repeat: no-repeat;
    background-position: center;
}

.green-flower {
    padding-top: 100px;
    padding-left: 70px;
    height: 370px;
    width: auto;
}

.green-tag {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 30px;

}

.icon-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 120px 144px;
    padding: 80px;

}

.icon-para {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    padding-top: 20px;
}

/* Sale section Style  */

.sale {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(229, 84, 115, 0.05);
    width: auto;
    padding: 100px;
    gap: 100px;


}

.sale-text {
    text-align: center;
}

.color-primary {
    color: #E55473;
}

.sale-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    align-items: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 20px;

}

.rose {
    height: 400px;
    width: 290px;
    padding-right: 100px;

}



/* instagram section style  */

.insta-container {
    margin: 50px 100px;
}

.insta-text {
    padding-top: 100px;

}

.flower-insta {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.insta-flower-img {
    height: 360px;
    width: 300px;
}


.deal-section {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 100px;
}



.deal-section {
    height: 390px;
    width: 1260px;
    margin: auto;
    background-image: url(imgs-flower/Rectangle\ 9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 8px;
}

.deal-text {
    padding-top: 100px;
    padding-bottom: 20px;
}

.form-set {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.form-email input {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 400px 20px 20px;
    border-radius: 8px;
    border: none;
    background-color: #FFF;

}

/* Promotion Section  style  */

.promotions-img {
    background-image: url(imgs-flower/promotion\ picture.png), linear-gradient(rgba(219, 81, 108, 0.669), rgb(105, 169, 247));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin-top: 100px;
}

.blog-site {
    display: flex;
    justify-content: center;
    padding-top: 420px;
    gap: 20px;
}

.blog-textsite {
    background-color: rgb(218, 206, 218);
    text-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 6px 8px rgba(134, 131, 134, 0.432);
    height: 400px;
    width: 500px;
}

.blog-title {
    padding: 80px 10px 20px 10px;

}

.blog-para {
    padding: 0px 20px 20px 20px;

}

.blog-imgsite {
    box-shadow: 6px 8px rgba(134, 131, 134, 0.432);
    border-radius: 10px;
    border: none;
}

.flower-blog {
    height: 400px;
    width: 500px;
    border-radius: 10px;
}

/* footer section style  */

.footer-container {
    background-color: #111010;
    padding: 120px;
    margin-top: 250px;
}

.footer-title {
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;

}

.color {
    color: rgba(255, 255, 255, 0.90);
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    padding: 30px 100px;
}